li, ul, p, h3, h2, h1 {
  margin: 0;
  padding: 0;
}

h3, h2, h1 {
  text-transform: uppercase;
}

h3 {
  margin-bottom: 30px;
}

.navbar_search {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .navbar_search {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .navbar_header {
    flex-grow: 1;
  }
}

.navbar {
  flex-wrap: wrap;
}

.navbar_header_list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 200%;
}
.navbar_header_list form {
  display: flex;
  padding: 10px;
  width: 85%;
}
.navbar_header_list form .search_box {
  outline: 1px solid #e8e8e8;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  padding: 5px 10px;
}
.navbar_header_list form input {
  background-color: #eeeeee;
  border: none;
  width: 100%;
}
.navbar_header_list form button {
  background: url(../images/search.png) no-repeat 0 5px;
  background-color: #eeeeee;
  border: none;
  width: 5%;
}
@media (min-width: 768px) {
  .navbar_header_list form {
    display: none;
  }
}

.navbar {
  padding: 0;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .nav-item,
  .navbar .navbar-collapse .dropdown-item {
    outline: 1px solid #eeeeee;
  }
}
.navbar .navbar-collapse .nav-item a,
.navbar .navbar-collapse .dropdown-item a {
  padding: 16px 18px;
}
.navbar .navbar-collapse .nav-item a:hover,
.navbar .navbar-collapse .dropdown-item a:hover {
  background-color: #709aa7;
  color: #ffffff;
}

.dropdown .dropdown-menu {
  padding: 0;
}

.carousel-item:nth-child(1) img {
  object-position: -200px -10px;
}
.carousel-item:nth-child(2) img {
  object-position: -450px -10px;
}
.carousel-item:nth-child(3) img {
  object-position: -50px -10px;
}

.carousel-inner .carousel-item img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .carousel-inner .carousel-item img {
    object-position: initial;
    width: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #5c5c5c;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #709aa7;
}

.logo a {
  display: inline-block;
}
.logo img {
  width: 100%;
  object-fit: cover;
}

.card_service {
  position: relative;
  top: 0px;
}
@media (min-width: 576px) {
  .card_service {
    top: -45px;
  }
}
@media (min-width: 576px) {
  .card_service .row {
    margin: 0;
  }
}
.card_service p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.card_service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e8;
  padding: 30px;
  outline: 1px solid #cdcdcd;
  height: 100%;
  gap: 25px;
}
.card_service_item:hover {
  background-color: rgba(92, 92, 92, 0.8);
  color: #ffffff;
}
.card_service_item .card_service_item_img {
  width: 100px;
  height: 70px;
}
.card_service_item .card_service_item_img img {
  width: 100%;
  object-fit: cover;
}
.card_service_item h2 {
  font-size: 20px;
}
.card_service_item h2,
.card_service_item p {
  text-align: center;
}
.card_service_item a {
  text-decoration: none;
  color: #000000;
  background-color: #cdcdcd;
  display: inline-block;
  padding: 5px 10px;
  margin-top: auto;
}
.card_service_item a:hover {
  background-color: #709aa7;
  color: #ffffff;
}

.get_it_touch input {
  margin-bottom: 10px;
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}
.get_it_touch input:focus-visible {
  outline-color: #709aa7;
}
.get_it_touch textarea {
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  height: 100px;
  background-color: #e8e8e8;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}
.get_it_touch:focus-visible {
  outline-color: #709aa7;
}

.button_reset {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border: none;
}
.button_reset:hover {
  color: #709aa7;
}

.button_send {
  background-color: #709aa7;
  color: #ffffff;
  padding: 10px;
  border: none;
}
.button_send:hover {
  color: #eeeeee;
}

.copy_right {
  display: flex;
  flex-direction: column-reverse;
  background-color: #000000;
  padding: 10px 0;
}
@media (min-width: 992px) {
  .copy_right {
    justify-content: space-between;
    flex-direction: row;
  }
}

.copy_right_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copy_right_box p {
  color: #cdcdcd;
  text-align: center;
}
.copy_right_box p a {
  color: #709aa7;
  text-decoration: none;
}
.copy_right_box p a:hover {
  color: #ffffff;
}

body {
  box-shadow: inset 0 92px #000000, inset 0 -220px #000000;
  min-width: 320px;
}

footer {
  margin-top: 50px;
}

.footer_box {
  background: url(../images/subbg.gif);
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media (min-width: 768px) {
  .footer_box {
    display: flex;
    flex-direction: row;
  }
}

footer a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
  padding: 5px;
  font-size: 16px;
}

footer a:hover {
  color: #85b4c3;
}

footer p {
  font-size: 16px;
  color: #fff;
}

.cooperate_logo {
  display: flex;
}

.cooperate_logo img {
  object-fit: contain;
  width: 100%;
  align-items: center;
  /* justify-items: center; */
}

.cooperate_logo a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #e8e8e8;
  display: inline-block;
  padding: 10px 10px;
  margin: auto;
  border-radius: 25px;
}

.cooperate_logo a:hover {
  background-color: #85b4c3;
  color: #fff;
}

.card_service .card_service_item_img {
  width: 100px;
}

header {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  outline: 2px solid #cdcdcd;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

main {
  margin-top: 20px;
  padding: 20px;
}

.company {
  border-bottom: 1px solid #cdcdcd;
}

.text_more {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
.text_more:hover {
  color: #709aa7;
}

.card_introduce {
  width: 100%;
}
.card_introduce p {
  margin-top: 30px;
}
.card_introduce img {
  width: 100%;
  object-fit: cover;
}

/* =======  */
.page_title {
  margin: 10px 0 15px 0;
  /* font-size: 25px; */
  /* color: ; */
}

.items_title {
  margin: 10px 0 10px 0;
  font-size: 20px;
  color: #709aa7;
}

.table_box {
  display: flex;
  justify-content: center;
}

table {
  text-align: center;
}

table td {
  word-break: break-all;
}

.performace_top {
  border: 2px solid yellowgreen;
  background-color: rgb(225, 246, 196);
}

.performace_plc {
  background-color: yellowgreen;
}

.performace_plc_line {
  border: 2px solid yellowgreen;
}

.performace_fmcs {
  background-color: rgb(225, 246, 196);
}

.performace_fmcs_line {
  border: 2px solid rgb(225, 246, 196);
}

.performace_cim {
  background-color: yellowgreen;
}

.performace_cim_line {
  border: 2px solid yellowgreen;
}

.performace_aoi {
  background-color: rgb(225, 246, 196);
}

.performace_aoi_line {
  border: 2px solid rgb(225, 246, 196);
}

.nav-item .nav-link :focus {
  background-color: #95b285;
  color: #39691d;
}

.navbar-light .navbar-nav .nav-link.active {
  background-color: #5c5c5c;
  color: #fff;
}

/*# sourceMappingURL=all.css.map */
