@use "../base" as *;

// ----main----
main {
  // background: $bg_paper;
  margin-top: 20px;
  padding:3%;

  // outline: 2px solid $gray-3;
}

//區塊分割線


//more
.text_more {
  text-decoration: none;
  color: $black;
  font-weight: 700;
  &:hover {
    color: $green;
  }
}

// <!-- 公司介紹 -->
// welcome

.card_introduce {
  width: 100%;
  p {
    margin-top: 30px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
