@use "../base" as *;

// ----main----
main {
  background: $bg_paper;
  outline: 2px solid $gray-3;
}

//區塊分割線
.company {
  border-bottom: 1px solid $gray-3;
}

//more
.text_more {
  text-decoration: none;
  color: $black;
  font-weight: 700;
  &:hover {
    color: $green;
  }
}

// <!-- 公司介紹 -->
// welcome

.card_introduce {
  width: 100%;
  p {
    margin-top: 30px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
